$primary-color-1: #4EC9B0;
$primary-color-2: #368b7a;
$primary-color-3: #004f4f;

$background-1: #1E1E1E;
$background-2: #272727;

$light-background-1: #969696;

$text-color-1: #D4D4D4;

$base-white: #FFFFFF;
$base-black: #000000;

$danger-color-1: rgb(214, 37, 37);
$success-color-1: rgb(21, 132, 28);
$shiny-color: gold;